Source: trevisiol-base
Section: metapackages
Priority: optional
Maintainer: Marco Trevisiol <marco@trevisiol.casa>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.7.2

Package: trevisiol-base
Architecture: all
Depends: ${misc:Depends},
 debian-archive-keyring,
 procps,
 less,
 vim-tiny,
 adduser,
 bash-completion,
 file,
 iputils-ping,
 locales,
 mtr-tiny,
 stow,
 sensible-utils,
 htop,
 manpages,
 man-db,
 lsb-release,
Description: base configuration for all of my debian machines
 This package install basic packages always needed on my machines.

Package: trevisiol-dev
Architecture: all
Depends: ${misc:Depends},
 aptitude,
 bat,
 build-essential,
 colordiff,
 command-not-found,
 curl,
 dos2unix,
 elixir,
 fastfetch,
 git,
 gnupg,
 hx,
 inotify-tools,
 ipython3,
 jq,
 make,
 ncal,
 netcat-openbsd,
 nnn,
 openssh-client,
 python3,
 python3-pip,
 python3-venv,
 python3-isodate,
 ripgrep,
 rsync,
 strace,
 tealdeer,
 tmux,
 trash-cli,
 vim,
 xz-utils,
 wget,
 whiptail,
Description: configuration for development machines
 This package install packages needed for development.

Package: trevisiol-minimal-desktop
Architecture: all
Depends: ${misc:Depends},
 console-setup,
 console-data,
 alacritty,
 feh,
 firefox-esr,
 fonts-terminus-otb,
 xcompmgr,
 xorg,
 trevisiol-dwm | trevisiol-dwm-vm,
Description: minimal configuration for desktop
 This package install packages needed for any graphical installation.

Package: trevisiol-full-desktop
Architecture: all
Depends: ${misc:Depends},
 desktop-base,
 hunspell,
 hunspell-it,
 hunspell-en-gb,
 hunspell-en-us,
 hyphen-it,
 hyphen-en-gb,
 hyphen-en-us,
 djvulibre-bin,
 graphviz,
 calibre,
 ffmpeg,
 geogebra,
 gimp,
 gimp-data-extras,
 inkscape,
 kate,
 kile,
 latexmk,
 mmdebstrap,
 netselect-apt,
 nmap,
 okular,
 okular-extra-backends,
 pciutils,
 poppler-utils,
 popularity-contest,
 python3-pandas,
 python3-sklearn,
 python3-statsmodels,
 python3-matplotlib,
 qrencode,
 rclone,
 sqlite3,
 sqlitebrowser,
 texlive-full,
 ucf,
 vlc,
 wireguard-tools,
 witalian,
 xclip,
 xdg-utils,
 xdotool,
Description: configuration for workstations
 This package install packages needed for graphical workstation.

Package: trevisiol-laptop
Architecture: all
Depends: ${misc:Depends},
 alsa-utils,
 cryptsetup-bin,
 dkms,
 e2fsprogs,
 fdisk,
 k3b,
 inxi,
 lm-sensors,
 lshw,
 mesa-utils,
 mesa-vulkan-drivers,
 network-manager,
 pavucontrol,
 pmount,
 wireless-tools,
 wodim,
Description: configuration for laptops
 This package install packages needed for laptops.

Package: trevisiol-gaming
Architecture: all
Depends: ${misc:Depends},
 lutris,
 libsdl2-2.0-0,
 libsdl2-mixer-2.0-0,
 steam-installer,
 wine-stable,
 wine32,
 winetricks
Description: configuration for gaming
 This package install packages needed for gaming.
